body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #ffcc33, #ff6699);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

 .header {
    background-color: #007BFF; 
    color: #fff; 
    padding: 20px;
    text-align: center;
} 

 .header h1 {
    margin: 0;
    font-size: 2em;
} 

.profile-card {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  max-width: 350px;
  padding: 30px;
  text-align: center;
  transition: transform 0.3s;
}

.profile-card:hover {
  transform: scale(1.05);
}

.profile-img {
  border-radius: 50%;
  border: 4px solid #ff6699;
  width: 120px;
  height: 120px;
  object-fit: cover;
  margin-bottom: 20px;
}

.profile-name {
  font-size: 26px;
  color: #333;
  margin: 10px 0;
}

.profile-age {
  font-size: 20px;
  color: #777;
  margin: 5px 0 20px;
}

.profile-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.profile-list li {
  background-color: #ffcc33;
  color: #fff;
  border: 1px solid #ff6699;
  border-radius: 5px;
  margin: 10px 0;
  padding: 10px;
  transition: background-color 0.3s;
}

.profile-list li:hover {
  background-color: #ff6699;
}